<app-navbar (openSideNav)="drawer.toggle()"></app-navbar>
<mat-drawer-container class="h-full">
  <mat-drawer #drawer mode="side" opened>
    <section>
      <mat-selection-list #byDate [multiple]="false">
        <mat-list-option> Upcoming </mat-list-option>
        <mat-list-option> Today </mat-list-option>
      </mat-selection-list>
    </section>
    <mat-divider></mat-divider>
    <br />
    <section>
      <h2>Projects</h2>
      <mat-selection-list #byProject [multiple]="false">
        <mat-list-option *ngFor="let project of projects" [value]="project">
          {{ project.name }}
        </mat-list-option>
      </mat-selection-list>
    </section>
  </mat-drawer>
  <app-projects
    *ngIf="byProject.selectedOptions.hasValue(); else notSelection"
    [project]="byProject.selectedOptions.selected[0].value"
    ></app-projects>
  <ng-template #notSelection>
    <h1>
      There're not projects yet!
    </h1>
  </ng-template>
</mat-drawer-container>
